<div id="rightContent">
  <div id="adresWLokalizacji">
    <b>Zakład znajduje się przy:</b><br> os. Kopernika 9<br> (obok samu spożywczego)<br> Stargard Szczeciński<br><br> <b>Zapraszamy</b>
    <br> niedziela - nieczynne<br> poniedziałek - 9:00 do 17:00<br> wtorek - 9:00 do 17:00<br> środę - 10:00 do 17:00<br>    czwartek - 9:00 do 17:00<br> piątek - nieczynne<br> soboty - nieczynne
  </div>
  <div id="mapka">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=209444570623666392129.0004b7ad69567c917add1&amp;ie=UTF8&amp;ll=53.345171,15.031571&amp;spn=0,0&amp;t=h&amp;output=embed"></iframe><br><small>Pokaż <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=209444570623666392129.0004b7ad69567c917add1&amp;ie=UTF8&amp;ll=53.345171,15.031571&amp;spn=0,0&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">Zakład Krawiecki Profesja</a> na większej mapie</small>
  </div>
</div>