<div id="rightContent">
  <div id="adresWLokalizacji">
    <b>Zakład znajduje się przy:</b><br> ul. Maksymiliana Kolbego 20<br> (obok stacji kontroli pojazdów)<br> Bydgoszcz - Osowa Góra<br><br> <b>Zapraszamy</b>
    <br> niedziela - nieczynne<br> poniedziałek - 9:00 do 17:00<br> wtorek - 9:00 do 17:00<br> środę - 10:00 do 17:00<br>    czwartek - 9:00 do 17:00<br> piątek - nieczynne<br> soboty - nieczynne
  </div>
  <div id="mapka">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2392.8002983824595!2d17.91754181583105!3d53.14967847993829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47030df6ea13161f%3A0x5df95688e5a75d29!2s%C5%9Awi%C4%99tego+Maksymiliana+Kolbego+20%2C+85-001+Bydgoszcz!5e0!3m2!1spl!2spl!4v1533738028389" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <br/>
  <br/>
  <b>Powrót do:</b>
  <ul>
    <li><a routerLink="/">Usługi</a></li>
    <li><a routerLink="/uslugi-i-cennik">Usługi i cennik</a></li>
  </ul>
</div>