<html>

<head>
  <meta name="Description" content="Profesjonalne usługi krawiecki na terenie Stargadu Szczecińskiego">
  <meta name="Keywords" content="profesja, zakład, krawiecki, krawcowa, stargad, przeróbki, krawieckie, krawiec, usługi, szczeciński, skracanie spodni, wymiana zamków, firany">
  <meta name="Author" content="Edyta i Radosław Nagrabscy">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Date" content="śro, 27 wrz 2017, 20:00:00 CET">
  <!-- <meta http-equiv="Location" content="URL=http://rnagrabski.x25.pl"> -->
  <meta http-equiv="Content-Language" content="pl-PL">
  <title>Zakład Krawiecki "Profesja" (Stargard Szczeciński) - Bożena Maśnik</title>
</head>

<body>
  <div>
    <a id="logo" routerLink="/">Strona główna zakładu krawieckiego Profesja w Stargardzie</a>
    <app-menu></app-menu>
    <div id="main-container" class="container">
      <router-outlet></router-outlet>
    </div>
    <footer>2012</footer>
  </div>
</body>


</html>