<div id="rightContent">
  <div id="uslugi">
    <table>
      <colgroup>
        <col style="text-align:right;">
        <col style="width:100px;">
      </colgroup>
      <thead>
        <tr>
          <th>Cennik usług krawieckich</th>
          <th></th>
        </tr>
        <tr>
          <th>Uszycie</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Spódnica klasyczna</td>
          <td align="right">90,00 zł</td>
        </tr>
        <tr>
          <td>Spódnica klasyczna z podszwką</td>
          <td align="right">100,00 zł</td>
        </tr>
        <tr>
          <td>Spodnie klasyczne</td>
          <td align="right">150,00 zł</td>
        </tr>
        <tr>
          <td>Spodnie męskie</td>
          <td align="right">180,00 zł</td>
        </tr>
        <tr>
          <td>Bluzka prosta</td>
          <td align="right">90,00 zł</td>
        </tr>
        <tr>
          <td>Bluzka rozpinana</td>
          <td align="right">120,00 zł</td>
        </tr>
        <tr>
          <td>Kamizelka</td>
          <td align="right">100,00 zł</td>
        </tr>
        <tr>
          <td>Sukienka prosta</td>
          <td align="right">180-250 zł</td>
        </tr>
        <tr>
          <td>Sukienka wieczorowa</td>
          <td align="right">200-400 zł</td>
        </tr>
        <tr>
          <td>Żakiet bez podszewki</td>
          <td align="right">150-200 zł</td>
        </tr>
        <tr>
          <td>Żakiet z podszewką</td>
          <td align="right">180,00 zł</td>
        </tr>
        <tr>
          <td>Płaszcz</td>
          <td align="right">300-500 zł</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Przeróbki</th>
          <th></th>
        </tr>
        <tr>
          <th>Spodnie i spódnica jeans</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Skracanie maszynowe</td>
          <td align="right">18,00 zł</td>
        </tr>
        <tr>
          <td>Skracanie oryginalne</td>
          <td align="right">23 zł</td>
        </tr>
        <tr>
          <td>Zwężanie boków z ingerencją w pasek i zamek</td>
          <td align="right">35-50 zł</td>
        </tr>
        <tr>
          <td>Wymiana zamka</td>
          <td align="right">18,00 zł</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Spodnie i spódnica z materiału</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Skracanie maszynowe</td>
          <td align="right">18,00 zł</td>
        </tr>
        <tr>
          <td>Zwężanie boków z ingerencją w pasek i zamek</td>
          <td align="right">35-50 zł</td>
        </tr>
        <tr>
          <td>Zwężanie szwem tylnym</td>
          <td align="right">15-25 zł</td>
        </tr>
        <tr>
          <td>Wymiana zamka</td>
          <td align="right">18,00 zł</td>
        </tr>
        <tr>
          <td>Wymiana zamka kurtki</td>
          <td align="right">35-50 zł</td>
        </tr>
        <tr>
          <td>Wymiana zamka kożuch-skóra</td>
          <td align="right">45-60 zł</td>
        </tr>
        <tr>
          <td>Wymiana zamka sweter</td>
          <td align="right">25,00 zł</td>
        </tr>
        <tr>
          <td>Wymiana podszewki w kurtce-skórze/plaszcz</td>
          <td align="right">80-110 zł</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Płaszcze i marynarki</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Skracanie płaszcza/marynarki</td>
          <td align="right">30-50 zł</td>
        </tr>
        <tr>
          <td>Zwężanie płaszczy i marynarek</td>
          <td align="right">40-80 zł</td>
        </tr>
        <tr>
          <td>Zwężanie płaszczy i marynarek bez ingerencji w rękaw</td>
          <td align="right">70-150 zł</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Firany</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Obszycie - za metr bieżący</td>
          <td align="right">2,50 zł</td>
        </tr>
        <tr>
          <td>Wszycie taśmy - metr bieżący</td>
          <td align="right">4,50 zł</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <br/>
  <b>Powrót do:</b>
  <ul>
    <li><a routerLink="/">Usługi</a></li>
    <li><a routerLink="/kontakt-i-lokalizacja">Kontakt i lokalizacja zakładu</a></li>
  </ul>
</div>