<div id="rightContent">
  <div id="uslugi">
    <div style="text-align: center; color: crimson;font-size: 1.2em;">
      Z uwagi na koronawirusa, po odbiór i na nowe przeróbki proszę umawiać sie telefonicznie (503&nbsp;178&nbsp;021)
      Rozpoczynam również przyjmowanie "miarówek"/ szycia&nbsp;na&nbsp;miarę.
    </div>
    <br/>
    <b>Zakład "Profesja" poleca swoje usługi w zakresie:</b><br>
    <ul>
      <li>szycia na miarę</li>
      <li>wszywania zamków</li>
      <li>przeróbek krawieckich</li>
      <li>nabijania nap</li>
    </ul>
    <br/>
    <br/>
    <b>Przejdź dalej:</b>
    <ul>
      <li><a routerLink="/uslugi-i-cennik">Usługi i cennik</a></li>
      <li><a routerLink="/kontakt-i-lokalizacja">Kontakt i lokalizacja zakładu</a></li>
    </ul>
  </div>
</div>